{
    "aws_account_id": "496415219179",
    "aws_access_key_id": "<AWS ACCESS KEY ID>",
    "aws_secret_access_key": "<AWS SECRET ACCESS KEY>",
    "region_names": [
        "us-east-1",
        "ap-southeast-1"
    ],
    "protected_users": [
        "cleanup",
        "john.doe"
    ]
}